<%= form_for([@user_blog, @article]) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= image_tag(@article.image_uid.full.url) if @article.image_uid? %>
    <%= f.file_field :image_uid %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <h2>Comments</h2>
  <%= f.fields_for :comments do |comm_form| %>
  <p>
    <%= comm_form.label :commenter %><br>
    <%= comm_form.text_field :commenter %>
  </p>
  <p>
    <%= comm_form.label :body %><br>
    <%= comm_form.text_area :body %>

  </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<%= to_blog('Back', @user_blog) %>
<% end %>
