<h1>Article</h1>
<%= form_for([@user_blog, @user_blog.articles.build]) do |f| %>
<p>
  <%= image_tag(@article.image_uid.full.url) if @article.image_uid? %>
</p>
<p>
  <strong>Id:</strong>
  <%= @article.id%>
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<h2>Comments</h2>
<% for comment in @article.comments %>
		<li><%=comment.body %></li><br>
	<% end %>
<%= edit_article(@user_blog, @article)%>
<%= to_blog('Back', @user_blog) %>
<% end %>
