<h1>BLOGS</h1>
<%= new_blog %>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Created at</th>
  </tr>

  <% @user_blogs.each do |user_blog| %>
    <tr>
      <td><%= user_blog.id %></td>
      <td><%= user_blog.title %></td>
      <td><%= user_blog.created_at %></td>
      <td><%= to_blog('Show', user_blog) %></td>
      <td><%= new_article(user_blog) %></td>
      <td><%= destroy_blog(user_blog) %></td>
    </tr>
  <% end %>
</table>
<p>
